
@{
    ViewData["Title"] = "Init";
}

<h2>Init</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Init">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="users" class="control-label">Users</label>
                <textarea id="users" name="users" class="form-control" ></textarea>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="friends" class="control-label">Friends</label>
                <textarea id="friends" name="friends" class="form-control" ></textarea>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>